<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Upload Video</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>
		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${username}"></span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<form autocomplete="off" action="#" th:action="@{/upload}"
								th:object="${video}" method="post" class="form-horizontal"
								id="fileUploadForm" role="form" enctype="multipart/form-data">
								<h3>Video Upload Form</h3>
								<div class="form-group">
									<div class="col-sm-8">
										<input id="video-file" type="file" name=file
											placeholder="File" class="form-control" />
									</div>
									<div id="uploadError" style="color: red"></div>
								</div>
								<div class="form-group">
									<div class="col-sm-8">
										<button type="submit" class="btn btn-primary btn-block"
											id="btnSubmit">Upload</button>
									</div>
								</div>
								<div id ="videoDetails" class="col-sm-8">
									<h4>Video Details</h4>
								</div>
								<div id ="errorDetail" class="col-sm-8"  style="color: red"></div>
								<div class="col-sm-8">
									<table id="result" border='1'></table>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="col-md-7 col-md-offset-3">
				<div class="col-sm-2">
				    <img th:src="@{/images/bucket.png}" class="img-responsive center-block" width="50" height="50"  alt="S3 Bucket" />
				</div>
				<div class="col-sm-4">
					<a href="http://s3-external-1.amazonaws.com/s3videouser/" class="bucket"><p>Access your list</p></a><br>
				</div>
			</div>
		</div>
	</div>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/validation.js"></script>
</body>
</html>

