.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

.access-denied-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

/* Video details table styles */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

p {
	text-align: center;
	color: blue;
	font-weight: bold;
	font-size: 22px;
	vertical-align: text-bottom;
}